/* Sass Document */

@import 'mixins';


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html, body{
	font-family: 'Lato', sans-serif;
	font-size:12px;
	line-height:14px;
	font-weight:400;
}

strong{
	font-weight:700;
}

.clearboth{
	width:100%;
	clear:both;
	display:block;	
}


.hide-mobile{			
	@include breakpoint('mobile'){
		display:none !important;
	}
}



/*****************


	BOUTON


*****************/


[class^="hvr-"] {
  cursor: pointer;
  background: #638b18;
  text-decoration: none;
  color: #fff;
  padding:12px;
	display:block;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* Smooth fonts */
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hvr-pop{
		background: #638b18;
		
		&:hover{
			background:#0a1a72;
		}
}



/***********
*
*
*	HEADER
*
*
***********/

section#header{
	
	width:100%;
	height:160px;
	background-color:#0a1a72;
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	
				
				@include breakpoint('mobile'){
					height:100px;
					position:fixed;
					top:0px;
					z-index:1000;
				}

		& .inner{
			
			width:990px;
			margin:0 auto;
			
				@include breakpoint('tablet'){
					width:100%;
				}
										
				@include breakpoint('mobile'){
					width:100%;
				}
										
			
			& #logo{
				
				background:url(../images/logo-logisko.png) no-repeat left top;
				width:242px;
				height:88px;
				display:block;
				float:left;	
				margin:35px 0;
				
					@include breakpoint('mobile'){
						width:175px;
						height:64px;
						background-size:contain;
						margin:15px 0 0 20px;
					}
				
				& a{
					display:block;
					width:242px;
					height:88px;
					
						@include breakpoint('mobile'){
							width:175PX;
							height:64px;
							background-size:contain;
						}

				}
			}
			
			& #menu-icon{ 
				display:none;
				float:right;
				width:40px;
				height:40px;
				color:#fff; 
				font-size:30px;
				text-decoration:none;
				margin-top:5px;
				
				
					@include breakpoint('tablet-up'){
						display:inline-block;
						margin-top:40px;
						position:relative;
						z-index:11;
					}

					@include breakpoint('mobile'){
						display:inline-block;
						margin-top:40px;
						position:relative;
						z-index:11;
					}

			}
		

			
			& nav ul#menu{
				
				float:right;
				margin:55px 0 0 0;

				
				& li{
					float:left;
					font-size:50px;
					line-height:52px;
					font-weight:300;
					color:#638b18;
					margin:0 5px;
						@include breakpoint('mobile'){
							display:block;
							width:100%;
							margin:15px 10px;
						}

					& a{
						text-decoration:none;
						font-size:16px;
						line-height:18px;
						font-weight:700;
						color:#fff;
						text-transform:uppercase;
						position:relative;
						top:-10px;
						
						@include breakpoint('mobile'){
							color:#fff;	
						}
						
						&:hover{
							color:#638b18;
						}
						
						&.active{
							color:#638b18;
						}
						
					}
				}
				
				
				  @include breakpoint('tablet-up'){
							display:none;
							position:absolute;
							z-index:10 !important;
							top:40px;
							right:0px;
							width:100%;
							height:auto;
							background-color:#0a1a72;
							/*border:3px solid #df0;*/
							padding:10px 0 10px 5px;
			  }
				
				  @include breakpoint('mobile'){
							display:none;
							position:absolute;
							z-index:10 !important;
							top:40px;
							right:0px;
							width:100%;
							height:auto;
							background-color:#0a1a72;
							/*border:3px solid #df0;*/
							padding:10px 0 10px 5px;
			  }
				
			}
			
			
		}
}



.sticky{
	position:fixed;
	top:0px;
	z-index:100;
	box-shadow:1px 1px 60px #000;
	height:100px !important;
}

.logo-sticky{
	height:50px !important;
	background-size:contain !important;
	margin-top:0px;
	transition: all 0.8s ease-in-out 0.2s;
	-webkit-transition: all 0.8s ease-in-out 0.2s;
}
.sticky-menu{
	margin-top:30px !important;
	
}



/* HEADER */



/***********
*
*
*	CARROUSEL
*
*
***********/

section#carrousel{
	
	width:100%;
	display:block;
	position:relative;
	
		@include breakpoint('mobile'){
			top:80px;
		}
					

	
		& .inner{
			
			width:990px;
			margin:0 auto;
			
			
		
			@include breakpoint('mobile'){
				width:100%;
			}
			
				& #carrousel-accueil{
					margin:40px 0 0 0;
					
					
						& h3{
							font-size:36px;
							line-height:38px;
							color:#fff;
							font-weight:300;
							margin:30px 0 0 0;
							
							&.marginplus{
								margin:100px 0 0 0 !important;
							}
						}
					
						& h4{
							font-size:22px;
							line-height:26px;
							color:#fff;
							font-weight:700;
							margin:30px 45px 0 0;

						}
					
						& a.btn{
							
							clear:both;
							display:inline-block;
							font-size:18px;
							line-height:20px;
							color:#fff;
							font-weight:700;
							text-transform:uppercase;
							text-decoration:none;
							padding:12px 10px;
							background-color:#638b18;
							margin:30px 0 0 0;
						}
					
					
				}
						
		}
	
}

.sp-blue {
	color: #fff;
	background: rgb(10, 26, 114);
	background: rgba(10, 26, 114, 0.7);
	height:100%;
	
			@include breakpoint('mobile'){
				height:440px;
			}

}


/* CARROUSEL */






/***********
*
*
*	INFO CONSTRUCTEUR
*
*
***********/

section#info-constructeur{
	
	
	width:100%;
	clear:both;
	display:block;
	
	
		& .inner{
			
			width:890px;
			margin:0 auto;
			text-align:center;


					@include breakpoint('mobile'){
						width:100%;
					}

			
			
				& h1{
					
					font-size:30px;
					line-height:38px;
					color:#0a1a72;
					font-weight:700;
					text-transform:uppercase;
					margin:50px 0 20px 0;
					
					@include breakpoint('mobile'){
						margin:120px 0 20px 0;
					}

				}
				
				
				& p{
					
					font-size:16px;
					line-height:24px;
					color:#595959;
				}
				
				& a.btn{
					
					clear:both;
					display:inline-block;
					font-size:18px;
					line-height:20px;
					color:#fff;
					font-weight:700;
					text-transform:uppercase;
					text-decoration:none;
					padding:12px;
					background:#638b18 !important;
					margin:30px 0 0 0;
					
					&:hover{
						background:#0a1a72 !important;
					}
				}
			
		}



}
/* INFO-CONSTRUCTEUR */



/***********
*
*
*	EXPERTISE
*
*
***********/

section#expertise{
	
	
	width:100%;
	clear:both;
	display:block;
	background:#0a1a72;
	overflow:hidden;
	margin:25px 0 0 0;
	
		& .inner{
			
			width:1030px;
			margin:0 auto;
			text-align:center;
			overflow:hidden;
			padding:25px 0 50px 0;
			
			
				@include breakpoint('tablet'){
					width:100%;
				}

				@include breakpoint('mobile'){
					width:100%;
				}

			
			& h2{
				margin:35px 0 40px 0;
				font-size:30px;
				line-height:32px;
				color:#fff;
				text-transform:uppercase;
			}
			
			& ul.liste-expertise{
				
				& li{
					float:left;
					font-size:16px;
					line-height:18px;
					color:#fff;
					text-align:center;
					margin:0 15px;
					
						@include breakpoint('mobile'){
							float:none;
							display:block;
							margin:50px 10px;
						}

				}
				
				/*& li p{
						opacity:0;
					}*/
				
				& li{
					@include breakpoint('mobile'){
						text-align:center;
					}
				}	
				
				
				& li div.ico-01{
					background:url(../images/ico-01.png) no-repeat center top;
					width:105px;
					height:115px;
					display:block;
					margin:0 0 40px 0;
					/*opacity:0;
					
					p{
						opacity:0;
					}*/

				}
				& li div.ico-02{
					background:url(../images/ico-02.png) no-repeat center top;
					width:158px;
					height:115px;
					display:block;
					margin:0 0 40px 0;
					/*opacity:0;
					
					p{
						opacity:0;
					}*/

				}
				& li div.ico-03{
					background:url(../images/ico-03.png) no-repeat center top;
					width:95px;
					height:115px;
					display:block;
					margin:0 0 40px 0;
					/*opacity:0;
					
					p{
						opacity:0;
					}*/

				}
				& li div.ico-04{
					background:url(../images/ico-04.png) no-repeat center top;
					width:170px;
					height:115px;
					display:block;
					margin:0 0 40px 0;
					/*opacity:0;*/
				}
				& li div.ico-05{
					background:url(../images/ico-05.png) no-repeat center top;
					width:128px;
					height:115px;
					display:block;
					margin:0 0 40px 0;
					/*opacity:0;*/
				}
				& li div.ico-06{
					background:url(../images/ico-06.png) no-repeat center top;
					width:177px;
					height:115px;
					display:block;
					margin:0 0 40px 0;
					/*opacity:0;*/
				}


					
				& li div{
					
					@include breakpoint('mobile'){
						width:100% !important;
					}
				}




			}
			
			
		}
		
		
}
/* EXPERTISE */




/***********
*
*
*	CONSTRUCTEUR
*
*
***********/

section#constructeur{
	
	
	width:100%;
	clear:both;
	background:url(../images/img-grues.jpg) no-repeat center top;
	height:486px;
	background-size:cover;
	
		& .inner{
			
			width:1030px;
			margin:0 auto;
			text-align:center;
			overflow:hidden;
			padding:25px 0 50px 0;
			
			
					@include breakpoint('tablet'){
						width:100%;
					}

			
					@include breakpoint('mobile'){
						width:100%;
					}
			
			
				& h2{
					font-size:36px;
					line-height:38px;
					color:#638b18;
					font-weight:700;
					text-transform:uppercase;
					margin:150px 0 15px 0;

				}
				
				
				p{
					font-size:16px;
					line-height:18px;
					color:#595959;
				}
				

		}
		
}

/* CONSTRUCTEUR */







/***********
*
*
*	À PROPOS
*
*
***********/


section#img-top{
	background:url(../images/img-a-propos.jpg) no-repeat center top;
	width:100%;
	height:172px;
	background-size:cover;
	
		/*@include breakpoint('mobile'){
			width:100%;
			height:34px;
			position:relative;
			top:100px;
			z-index:-1;
			background-position:center center;
			background-size:contain;
		}*/
}


/***********
*
*
*	PRIX ET NOMINATIONS
*
*
***********/

section#img-top-prix{
	background:url(../images/img-prix-et-nominations.jpg) no-repeat center top;
	width:100%;
	height:295px;
	background-size:cover;
	
		/*@include breakpoint('mobile'){
			width:100%;
			height:69px;
			position:relative;
			top:90px;
			z-index:-1;
			background-position:center center;
			background-size:contain;
		}*/
}




/***********
*
*
*	À PROPOS 
*	PRIX ET NOMINATIONS
*
*
***********/


section#contenu{
	
	width:100%;
	clear:both;
	display:block;
	overflow:hidden;
	
		& .inner{
			
			width:1000px;
			margin:50px auto;
			text-align:center;
			
			
				@include breakpoint('tablet'){
					width:100%;
				}

			
				@include breakpoint('mobile'){
					width:100%;
					/*margin:120px auto;*/
				}
			
			
				& h1, h2{
					font-size:30px;
					line-height:32px;
					color:#0a1a72;
					font-weight:700;
					text-transform:uppercase;
					margin:0 0 35px 0;
				}
				
				p{
					font-size:16px;
					line-height:24px;
					color:#595959;
					margin:20px 0;
					font-weight:300;
				}
				
				
				& .timeline{
				
					clear:both;
					display:block;
					overflow:hidden;
					font-weight:300;
				
					& .annee-left,
					  .histoire-left{
						float:left; 
						width:490px;
						border-right:9px solid #638b18;
						min-height:110px;
						padding:15px;
						
						@include breakpoint('mobile'){
							
						}
					}
					
					& .histoire-right,
					  .annee-right{
						float:left; 
						width:490px;
						padding:15px;
					}
					
					
					& .annee-left, 
					  .annee-right{
						color:#638b18;
						font-size:30px;
						line-height:32px;
						font-weight:700;
						
						@include breakpoint('tablet-up'){
							float:left;
							border-right:9px solid #638b18;
							min-height:220px;
						}
						
						@include breakpoint('mobile'){
							float:left;
							border-right:9px solid #638b18;
							min-height:220px;
						}

					}
					
					
					& .annee-right{
					 	text-align:left;
						
						
						@include breakpoint('tablet-up'){
							width:30%;
							text-align:right;
						}
						
						@include breakpoint('mobile'){
							width:135px;
							text-align:right;
						}
					}
					
					& .annee-left{
					 	text-align:right;
						
						@include breakpoint('tablet-up'){
							width:30%;
						}
						
						@include breakpoint('mobile'){
							width:135px;
						}
					}
					
					& .histoire-left, 
					  .histoire-right{
						color:#595959;
						font-size:16px;
						line-height:18px;
						
						
						@include breakpoint('tablet-up'){
							float:right;
							border:none;
							min-height:220px;
						}
						
						@include breakpoint('mobile'){
							float:right;
							border:none;
							min-height:220px;
						}
						
					}
					& .histoire-right{
						text-align:left;
						
						@include breakpoint('tablet-up'){
							width:70%;
						}
						
						@include breakpoint('mobile'){
							width:220px;
						}
					}
					& .histoire-left{
						text-align:right;
						
						@include breakpoint('tablet-up'){
							width:70%;
							text-align:left;
						}
						
						@include breakpoint('mobile'){
							width:220px;
							text-align:left;
						}

					}
					
					
				}
			
		}
}

/*
	À PROPOS 
	PRIX ET NOMINATIONS
*/




/***********
*
*
*	REALISATIONS
*
*
***********/


section#img-realisations{
	background:url(../images/img-realisations.jpg) no-repeat center top;
	width:100%;
	height:295px;
	background-size:cover;

		/*@include breakpoint('mobile'){
			width:100%;
			height:69px;
			position:relative;
			top:90px;
			z-index:-1;
			background-position:center center;
			background-size:contain;
		}*/
	
}

section.contenu{
	
	width:100%;
	clear:both;
	display:block;
	overflow:hidden;
	
		& .inner{
			
			width:1000px;
			margin:50px auto;
			text-align:center;
			
				@include breakpoint('tablet'){
					width:100%;
				}

			
				@include breakpoint('mobile'){
					width:100%;
					/*margin:120px auto;*/
				}
			
			
				& h1, h2{
					font-size:30px;
					line-height:32px;
					color:#0a1a72;
					font-weight:700;
					text-transform:uppercase;
					margin:0 0 35px 0;
				}
				
				p{
					font-size:16px;
					line-height:24px;
					color:#595959;
					margin:20px 0;
					font-weight:300;
				}

	
				h2.sous-titre{
					font-size:18px;
					line-height:20px;
					color:#0a1a72;
					font-weight:700;
					text-transform:none;
					margin:0;
			
				}
				
		}
}

section#galerie1-realisations,
section#galerie2-realisations{
	
	width:100%;
	clear:both;
	display:block;
	overflow:hidden;
	position:relative;
	z-index:0;
	

	
		
		& .inner{
			width:1370px;
			margin:0 auto;
			
				@include breakpoint('tablet'){
					width:100%;
				}
			
				@include breakpoint('mobile'){
					width:100%;
				}


				& ul.projets{
					
					& li{
						
						position:relative;
						float:left;
						display:block;
						margin:0 25px 25px 0;
						
									
							@include breakpoint('tablet'){
								width:49%;
								margin:20px 5px;
								
							}
						
							@include breakpoint('mobile'){
								margin:25px 0;
							}

						& img{
							
							@include breakpoint('tablet'){
								width:100% !important;
								height:auto !important;
							}
						
							@include breakpoint('mobile'){
								width:100% !important;
								height:auto !important;
							}
						}
						
						& .desc{
							display:none;
							position:absolute;
							top:0px;	
							width:100%;
							height:100%;
							background:rgba(10, 26, 124, 0.5);
							text-align:center;
							padding:85px 0 0 0;
							
								@include breakpoint('mobile'){
									display:block;
									background:rgba(10, 26, 124, 0.3);
									padding:50px 0 0 0;
								}
							
								& h3{
									font-size:18px;
									line-height:20px;	
									color:#fff;
									margin:10px 0;
								}
								
								& h4{
									font-size:24px;
									line-height:26px;	
									font-weight:700;
									color:#fff;
								}
						}
						
						
					}
					
				
				}
			
		}
}

/* REALISATIONS */






/***********
*
*
*	CONTACTEZ-NOUS
*
*
***********/


section#img-contact{
	background:url(../images/img-contactez-nous.jpg) no-repeat center top;
	width:100%;
	height:295px;
	background-size:cover;
	

		/*@include breakpoint('mobile'){
			width:100%;
			height:69px;
			position:relative;
			top:90px;
			z-index:-1;
			background-position:center center;
			background-size:contain;
		}*/
	
	
}

section#contenu-contact{
	
	width:100%;
	clear:both;
	display:block;
	overflow:hidden;
	
		& .inner{
			
			width:700px;
			margin:50px auto;
			text-align:center;
			
				@include breakpoint('mobile'){
					width:100%;
					/*margin:120px auto;*/
				}
			
			
				& h1{
					font-size:30px;
					line-height:32px;
					color:#0a1a72;
					font-weight:700;
					text-transform:uppercase;
					margin:0 0 35px 0;
				}
				
				p{
					font-size:16px;
					line-height:24px;
					color:#595959;
					margin:20px 0;
					font-weight:300;
				}

	
				h2{
					font-size:18px;
					line-height:20px;
					color:#0a1a72;
					font-weight:700;
					text-transform:none;
					margin:0;
			
				}
				
				a{
					font-size:18px;
					line-height:20px;
					color:#638b18;
					font-weight:700;
					text-decoration:none;
					clear:both;
					display:inline-block;
					margin:20px 0 0 0;
					
					&:hover{
						color:#0a1a72;
					}
				}
				
				
				
				& .boite-formulaire{
					
					display:block;
					clear:both;
					background:#ebebeb;
					padding:50px;
					overflow:hidden;
					margin:25px 0 150px 0;
					
						@include breakpoint('mobile'){
							padding:20px;
						}
					
						& .left{
							/*float:left;
							width:30%;
							margin:0 1%;*/
						}
						
						
							&  input[type=text] {
								
								border:1px solid #bbb;
								width:48%;
								height:35px;
								margin:10px 2% 10px 0;
								float:left;
								
								@include breakpoint('mobile'){
									float:none;
									width:100%;
								}
								
							}
							&  textarea {
								
								border:1px solid #bbb;
								width:98%;
								height:75px;
								margin:10px 0;
								float:left;
								
							}
							
							
							&  input[type=submit] {
								font-size:16px;
								line-height:18px;
								font-weight:700;
								clear:both;
								float:right;
								height:50px;
								background-color:#0a1a72;
								color:#fff;
								text-transform:uppercase;
								cursor:pointer;
								border:none;
								padding:10px 20px;
								margin:10px 12px 0 0px;
							}
							
						
						& .fantome{
							display:none;
						}
						
							&  .erreur{
								
								border:1px solid #f00 !important;
							}
							
							& .erreur-msg{
								color:#fff;
								width:98%;
								padding:10px 5px;
								display:block;
								font-weight:700;
								background-color:#f00;	
							}
					
							
							& .success-msg{
								font-size:18px;
								line-height:24px;
								margin:10px 0px;
								display:block;
								font-weight:700;
								color:#0a1a72;
							}
					
				
						
						
						
						
						
					
				}
				
		}
}




/***********
*
*
*	FOOTER
*
*
***********/

footer#footer{
	
	width:100%;
	overflow:hidden;
	display:block;
	clear:both;
	background:#0a1a72;
	padding:0 0 5px 0;
	
		& .inner{
			width:990px;
			margin:0 auto;
			text-align:center;
			
				@include breakpoint('mobile'){
					width:100%;
				}
					
				& h2{
					font-size:24px;
					line-height:26px;
					font-weight:700;
					color:#fff;
					margin:45px 0 15px 0;
				}
				
				& a.btn{
					
					clear:both;
					display:inline-block;
					font-size:18px;
					line-height:20px;
					color:#fff;
					font-weight:700;
					text-transform:uppercase;
					padding:12px;
					background:#638b18 !important;
					margin:30px 0 0 0;
					text-decoration:none;
					
					&:hover{
						color:#638b18 !important;
						background:#fff !important;
					}
				}
				
				
				.copyright{
					padding:45px 0 25px 0;
					color:#fff;
					font-size:12px;
					line-height:14px;
					text-align:center;
				}
				
				
		}
	
}
/* FOOTER */

body.contact #footer h2,
body.contact #footer a.btn{ display:none; }



.add-bounce{ @include animation('bounce 3s linear'); }
.add-fade{ @include animation('fadeIn 3s linear'); }




@include keyframes('bounce'){
        0%{transform:scale(0); opacity:0;}
        33%{ transform:scale(0.9); opacity:0.3; }
        66%{ transform:scale(0.9); opacity:0.6;}
        100%{ transform:scale(1); opacity:1;}
}


  
@include keyframes('fadeIn'){
    0%   { opacity:0; }
  100% { opacity:1; }
}

